*.pyc
node/*
*.egg-info/*
\#*
*\#
.\#*
.ropeproject/*
.tox/
.coverage
.ipynb_checkpoints
logs/*
bin/*
etc/*
lib/*
include/*
autojump.txt.*
config.py
autojump.txt
man/*
local/*
*.sqlite
profile_*/*
docs/site
docs/docs/api
docs/api
share
docs/glsh
