execute print "executing smash.rc"
execute import sys; import os.path as _;
execute x=_.expanduser(_.join('~','.ipython','smash')); sys.path = sys.path+[x] if x not in sys.path else sys.path
execute x=_.expanduser(_.join('~','.ipython','smash', 'plugins')); sys.path = sys.path+[x] if x not in sys.path else sys.path
execute import smash.main

# bash/python chimera mode set to "on"
include ipythonrc-pysh
